.main {
  padding: 50px;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  // background-color: #f2ebeb;
  flex: 1 1 auto;

  .container__main {
    display: flex;
    padding-left: 50px;
    flex-direction: column;
    gap: 15px;
    margin-top: -50px;
  }

  h2 {
    margin: 0;
  }

  h3 {
    margin: 0;
  }
}