.conteiner {
  display: flex;

  .form__inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color:#f2ebeb;
  }

  .btn {
    background-color: #7cd67f;
    border: 1px solid #7cd67f;
    cursor: pointer;
    border-radius: 10px;
    width: max-content;
  }
}