.list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
  align-items: center;
}

.active {
  border-radius: 20px;
  background-color: #edb864;
  padding: 9px;
  text-align: center;
  transition: all 500ms ease;
  font-size: 22px;
}

.li {
  text-align: center;
  background-color: #edf0a1;
  border-radius: 20px;
  padding: 7px;
  margin: 0;
}

.li:hover {
  color:white;
  background-color: #edb864;
  transition: all 500ms ease;
}

@media (min-width: 625px) and (max-width: 798px) {
  .list {
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    font-size: 16px;
    margin: 0;
    margin-bottom: 30px;
  }
}

@media (min-width: 320px) and (max-width: 625px) {
  .list {
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    font-size: 16px;
    margin: 0;
    margin-bottom: 30px;
  }
}