.Contacts h3 {
  margin-bottom: 10px;
}

.Contacts h4 {
  margin-bottom: 10px;
}

.Contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.FooterIcon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.FooterIcon img {
  width: 40px;
  height: 40px;
  margin-top: 10px
}

@media (min-width: 900px) and (max-width: 1050px) {
  .Contacts h3 {
    margin-bottom: 7px;;
  }

  .Contacts h4 {
    margin-bottom: 7px;
  }

  .FooterIcon img {
    width: 30px;
    height: 30px;
    margin-top: 7px;
  }
}

@media (min-width: 320px) and (max-width: 625px) {
  .Contacts h3 {
    margin-bottom: 5px;
  }

  .Contacts h4 {
    margin-bottom: 5px;
  }
  .Contacts {
    font-size: 16px;
  }

  .FooterIcon img {
    width: 20px;
    height: 20px;
  }

  .FooterIcon {
    flex-direction: row;
    gap: 5px;
    align-items: start;
  }
}